  /* div section1 navbar */
.firstnavbar{
   color: #fff;
   padding-left: 80px;
   font-size: 20px;
  
}
.navimage{
   margin-left: 450px;
}
.navtext1{
   padding-left: 20px;
}
.listhome:hover{
   background-color: blue;

}
 /* div section2 */
 .navbar2{
   display: flex;
   background-color: #EF9114;
 }
 .navtext2{
   padding-top: 20px;
   font-size: 18px;
 }
 .logotext{
   font-size: x-large;
   text-decoration: none;
   font-weight: bold;
   color: #000;
 }
.listtext{
   color: #fff;
}
 
  /* block section2  */
 .imageblock{
   width: 1895px;
   position: absolute;
   z-index: -1;
 }
 .textimage{
   padding-top: 200px;
   padding-left: 100px;
   font-size: 58px;
   color: #fff;
   text-shadow: 1px 1px 15px #EF9114;
 }
  /* block section3  */
 .blocksection3{
  margin-top: 500px;
  display: flex;
  text-align: justify;
  padding-right: 90px;
 }
 
 .textblock1{
   color: #EF9114;
   margin-left: -20px;
   
 }
 .textblock2{
   color: #000;
   font-weight: bold;
   font-size: 20px;
   line-height: 43px;
   margin-left: -20px;
 }
 .blockpara{
   color: #000;
   font-weight: bold;
   font-size: 20px;
   line-height: 40px;
   margin-top: -10px;
   margin-left: 100px;
   text-align: justify;
   padding-right: 90px;
 }
   /* block section4  */
 .section4head{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
 }
 .section4{
   display: flex;
   padding-top: 100px;
   margin-left: 100px;
   margin-right: 100px;
 }
.item41{
   height: 600px;
   border: 1px solid white;
   border-radius: 10px;
}
.item42{
   height: 600px;
   border: 1px solid white;
   border-radius: 10px;
}
.item43{
   height: 600px;
   border: 1px solid white;
   border-radius: 10px;
}
.imagesection41{
 border: 1px solid white;
 border-radius: 50%;
 margin-left: 150px;
}
.imagesection42{
   border: 1px solid white;
   border-radius: 50%;
   margin-left: 150px;
  }
  .imagesection43{
   border: 1px solid white;
   border-radius: 50%;
   margin-left: 150px;
  }
  .text41{
   padding-left: 180px;
   color: #000;
  }
  .text411{
   padding-left: 130px;
   color: #EF9114;
  }
  .text42{
   padding-left: 180px;
   color: #000;
  }
  .text422{
   padding-left: 130px;
   color: #EF9114;
  }
  .text43{
   padding-left: 180px;
   color: #000;
  }
  .text433{
   padding-left: 130px;
   color: #EF9114;
  }
  .imagepara{
   font-size: 20px;
   font-weight: bold;
   text-align: justify;
   padding-left: 15px;
   padding-right: 15px;
  }

 /* footer section   pagesection17 */
 .section17{
   background-color: #231f20;
   display: flex;
   justify-content: space-around;
   height: 500px;
   margin-top: 100px;
   font-size: 20px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   
}
div > a{
   color: #EF9114;
   text-decoration: none;
   font-size: 30px;
}
/* section171 */
.section171{
   padding-left: 100px;
   padding-top: 50px;
}
.borderbottom{
   border-bottom: 2px solid #EF9114;
    color: #EF9114;
}
.section171head{
   color:white ;
   list-style-type: none;
   text-decoration: none;
}
.section171one{
   color:white ;
   list-style-type: none;
   text-decoration: none;
   font-weight: bold; 
}
.section171one1{
   color: #EF9114;
   list-style-type: none;
}
.section171two{
   color:white ;
   list-style-type: none;
   text-decoration: none;
   font-weight: bold;
}
.section172{
   padding-left: 50px;
   padding-top: 50px;
   text-align: justify;
   width: 400px;
}
.section173{
   color: white;
   padding-top: 50px;
}
.section174{
   padding-top: 50px;
   padding-right: 50px;
}
.section174one{
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.image17{
   padding-left: 40px;
    width: 250px;
   height: 100px; 
}
.textpre{
    font-family: 'Times New Roman', Times, serif;
}
.section18{
   background-color: #EF9114;
   height: 80px;
   padding-top: 24px;
   text-align: center;
}
.section18 > a{
   color: #fff;
   font-size: 17px;

}
