/* div section1 navbar */
/* .navbarposition{
   position: fixed;
   
} */
.firstnavbar{
   color: #fff;
   padding-left: 80px;
   font-size: 20px;
}
.navimage{
   margin-left: 450px;
}
.navtext1{
   padding-left: 20px;
}
.listhome:hover{
   background-color: #175692;
   background-size: cover;
   /* color: #EF9114; */

}
 /* div section2 */
 .navbar2{
   display: flex;
   background-color: rgb(239, 145, 20);
 }
 .navtext2{
   padding-top: 20px;
   font-size: 18px;
 }
 .logotext{
   font-size: x-large;
   text-decoration: none;
   font-weight: bold;
   color: #000;
 }
.listtext{
   color: #fff;
}

 .section3{
    /* background-image: url(TopHeadImage.jpg); */
    background-color: #175692;
    height: 850px;
    opacity: 1px;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .section4{
    font-size: 30px;
    color: white;
    display: flex;
 }

 .section41{
   padding-left: 100px;
   padding-top: 150px;
    font-size: 50px;
    color: #EF9114;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }
 .section42{
   font-size: 30px;
   padding-left: 100px;
   padding-top: 1px;
   line-height: 30px;
 }
.clickbox{
   box-sizing: border-box;
   border: 1px solid #EF9114;
   border-radius: 5px;
   background-color: #EF9114;
   margin-left: 100px;
   text-align: center;
   padding: 15px 25px 15px 25px;
   font-size: 20px;
   color: white;
   text-decoration: none;
   
}
.section5 {
   display: flex;
   background-color: #fff;
   margin-top: 100px;
 } 
 .imagepart5{
   height: 900px;
   padding-left: 100px;
 }
 .textheadorg{
   color: #EF9114;
   padding-top: 150px;
   padding-left: 100px;
 }
.textblack{
   padding-top: 20px;
   padding-left: 100px;
   padding-right: 120px;
   color: #231f20;
   font-size: 20px;
   font-weight: bold;
   text-align: justify;
}
.textheadorg2{
   color: #EF9114;
   padding-top: 50px;
   padding-left: 100px;
 }
 .readbox{
   box-sizing: border-box;
   border: 1px solid #EF9114;
   background-color: #EF9114;
   border-radius: 5px;
   color: #fff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   margin-left: 100px;
   margin-top: 150px;
 }


/* page section7 */
.section7{
   background-color: #e5e5e5;
}
.bgimagesection7{
   /* background-image: url(madhuprabha-bg1.png); */
   /* background-repeat: no-repeat;
   opacity: ; */
   /* opacity:0.5; */
}
.section7head{
   padding-top: 50px;
   font-size: 30px;
   color: #EF9114;
   text-align: center;
}
.textsubhead7{
   text-align: center;
   color: #231f20;
   font-size: 62px;
   font-weight: bold;
   line-height: 60px;
}
.textpara7{
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   padding-top: 50px;

}
.imagesection7{
   display: flex;
   justify-content: space-around;
   margin-top: 100px;
   margin-right: 200px;
}

.item1{
   border-radius: 5px solid black ;
   border-radius: 20px;
   height: 600px;
   margin-left: 150px;
}
.item2{
   border-radius: 1px solid black ;
   border-radius: 20px;
   height: 600px;
   /* margin-left: 150px; */
}
.item3{
   border-radius: 1px solid black ;
   border-radius: 20px;
   height: 600px;
   margin-right: 150px;
}
.asectionhead{
   text-align: center;
   padding-left: 90px;
}
.imagepara{
   font-size: 20px;
   text-align: justify;
   color: #000;
   font-weight: bold;
   padding-left: 20px;
   padding-right: 20px;
}
 
/* pagesection13 */
.section13 
{
   text-align: center;
   padding-top: 100px;
  

}
.atexta{
   /* text-align: center;
   padding-left: 400px;
   padding-top: 500px; */
   font-size: 50px;
   font-weight: bold;
   color: #EF9114;
   
}
.bottomborder2{
   border-bottom: 3px solid #EF9114;
}
/* pagesection14 */
.section14{
   display: flex;
   gap: 500px;
   margin: auto;
   margin-top: 100px;
   margin-left: 350px;
}
.orangebox{
   color: white;
   width: 70px;
   height: 70px;
   background-color: rgb(235, 121, 79);
   transform: rotate(-45deg);
   line-height: 70px;
    text-align: center;
    margin: 15px 0
   
}

.section115{
   display: flex;
   justify-content: space-around;
   justify-content: space-between;
   margin-left: 300px;
   margin-right: 210px;
   margin-top: 20px;
   font-size: 25px;
   font-weight: bold;
}
.section15{
   display: flex;
   justify-content: space-around;
   justify-content: space-between;
   color:gray;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 130px;
}

.number{
   font-size: 25px;
    font-weight: 600;
    color: #fff;
    transform: rotate(47deg);
}
.section515{
   font-size: 20px;
   margin-left: 50px; 
   margin-right: 50px; 
   text-align: justify;
   color: #000;
}
.section525{
   font-size: 20px;
   margin-left: 0px;
   margin-right: 50px; 
   text-align: justify;
   color: #000;
}
.section535{
   font-size: 20px;
    margin-left: 50px; 
   text-align: justify;
   color: #000;
}

/* pagesection17 footer */
.section17{
   background-color: #231f20;
   display: flex;
   justify-content: space-around;
   height: 500px;
   margin-top: 100px;
   font-size: 20px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   
}
div > a{
   color: #EF9114;
   text-decoration: none;
   font-size: 30px;
}
.borderbottom{
   border-bottom: 2px solid #EF9114;
   color: #EF9114;
}
/* section171 */
.section171{
   padding-left: 100px;
   padding-top: 50px;
}
.section171head{
   color:white ;
   list-style-type: none;
   text-decoration: none;
}
.section171one{
   color:white ;
   list-style-type: none;
   text-decoration: none;
   font-weight: bold; 
}
.section171one1{
   list-style-type: none;
   color: #EF9114;
}
.section171one1{
   color: #EF9114;
   text-decoration: none;
   list-style-type: none;
}
.section171two{
   color:white ;
   list-style-type: none;
   text-decoration: none;
   font-weight: bold;
}

.section172{
   padding-left: 50px;
   padding-top: 50px;
   text-align: justify;
   width: 400px;
}
.section173{
   color: white;
   padding-top: 50px;
   
}
.section174{
   padding-top: 50px;
   /* margin-left: 200px; */
   /* padding-right: 50px; */
}
.section174one{
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.image17{
   padding-left: 40px;
    width: 250px;
   height: 100px; 
}
.textpre{
    font-family: 'Times New Roman', Times, serif;
}
.section18{
   background-color: #EF9114;
   height: 80px;
   /* padding-left: 150px; */
   padding-top: 24px;
   text-align: center;
   
  
}
.section18 > a{
   color: #fff;
   font-size: 17px;

}  
